h1 {
    background-color: gray;
}

form.join-area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(5, 1fr);

    width: 400px;
    height: 200px;

    place-items: center center;
}

form.join-area>input:last-child {
    grid-column: span 2;
    width: 30%;
    height: 80%;
    border-radius: 8px;
}

form.join-area>input:not(:last-child) {
    width: 80%;
    height: 60%;

    font-size: 1.2em;
}